[defaults]
inventory         = /home/diploma1/.ansible/hosts
host_key_checking = false
remote_user       = diploma1
private_key_file  = ~/.ssh/id_ed25519
pipelining        = True

[privilege_escalation]
become            = True
